@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header_top_icon_wrapper {
        @apply bg-gray-200 rounded-md p-[8px] text-[14px] cursor-pointer hover:bg-accent hover:text-white transition duration-300;
    }

    .navbar__link:hover {
        color: #d6b435;
        transition: all 0.4s;
    }

    .navbar__link::after {
        position: absolute;
        content: "";
        background-color: #d6b435;
        height: 3px;
        width: 100%;
        bottom: -5px;
        left: 0;
        scale: 0;
        transform-origin: left;
        transition: all 0.4s;
    }

    .navbar__link:hover::after {
        scale: 1;
    }

    .search_input {
        @apply border-gray-300 border p-3 px-4 rounded-lg w-full mb-4 shadow-md focus:outline-none focus:border-gray-400;
    }

    .product_card {
        @apply px-4 border border-gray-200 rounded-xl max-w-full cursor-pointer hover:shadow-lg transition duration-300;
    }

    .product_card img {
        @apply w-full h-auto rounded-t-xl;
    }

    .modal {
        @apply fixed inset-0 z-10 overflow-y-auto flex items-center justify-center;
    }

    .modal_content {
        @apply bg-white p-6 rounded shadow-lg w-full max-w-xl m-8 relative;
    }

    .modal_close_btn {
        @apply mt-4 px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 transition duration-200;
    }

    .header {
        @apply flex justify-between items-center py-4 border-b border-gray-200 bg-white;
    }

    .header-logo {
        @apply w-48;
    }

    .header-categories {
        @apply flex items-center space-x-4;
    }

    .header-category-button {
        @apply inline-flex justify-center rounded-md bg-gray-100 px-4 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-200 transition duration-200;
    }

    .header-instagram {
        @apply flex gap-4 text-gray-500 text-2xl;
    }

    .header-instagram a {
        @apply hover:text-gray-700 transition duration-200;
    }
}
